# Deployment scripts
deploy.ps1
package.ps1
shopper_backup.zip

# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
